/*
* jTabs styles
* ========================================================================== */
.tab-js { display: none; }
.tab-active-js { display: block; }

.tabs {
  width: 100%;
  margin: 2rem auto;
}

.tabs-block-buttons {
  font-size: 14px;

  &__btn {
    display: block;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #4EC6DE;
    border-bottom-width: 0;
    color: #333;
    background-color: #fff;
    outline: none;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color .3s;

    &:hover,
    &_active {
      color: #fff;
      background-color: #4EC6DE;
    }
  }
}


.tabs-block-sections {
  padding: 10px 20px;
  border: 2px solid #4EC6DE;
}


@media screen and (min-width: 640px) {
  .tabs-block-buttons {
    font-size: 0;

    &__btn {
      width: auto;
      display: inline-block;
      font-size: 14px;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
